a {
        text-decoration:none;
}
a:hover {
        text-decoration:underline;
}

.header, .searchform, .tip, .footer {
	font-family: 'Bitter', serif;
        margin: 50px 5px;
        float: center;
        text-align: center;
}

.header {
	margin-top: 120px;
	margin-bottom: 80px;
	font-size: 20pt;
	font-weight: bold;
}

.tip {
	margin-top: 100px;
	color: red;
	float: center;
}

p {
	font-family: 'Bitter', serif;
}

.results, .abstract {
	margin-top: 0px;
	margin-left: 10px;
}

.abstract {
	font-size: 20px;
}

